html {
	margin: auto 0px;
}

body {
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
}

#header {
	margin-top: 300px;
	text-align: center;
	font-size: 18px;
}

#logo {
	width: 280px;
}

.smallcaps {
	font-variant: small-caps;
}
.smalltext {
	font-size: 16px;
}

#comune {
	font-size: 22px;
}
#titolo {
	font-weight: bold;
}
#edificio {
	margin-top: 50px;
}
#idscheda {
	margin-top: 150px;
}
#data {
	margin-top: 50px;
}

.scheda {
	font-size: 18px;
}

.section {
	padding-top: 20px;
	font-weight: bold;
	font-size: 14px;
}

.block {
	page-break-inside: avoid;
}

.newPage, #sez1.block, #sez3.block, #sez4.block, #sez5.block, #sez7.block, #sez8.block {
	page-break-before: always;
}

table {
	width: 100%;
	border-spacing: 0px;
}
table.border, div.border, img.border {
	border: 1px solid gray;
}

h3 {
	padding: 20px 0px 0px 0px;
}

td {
	padding: 10px;
	vertical-align: top;
}

tr.line td {
	border-bottom: 1px solid white;
}
td.line {
	border-left: 1px solid white;
}

.white tr.line td {
	border-bottom: 1px solid lightgray;
}
.white td.line {
	border-left: 1px solid lightgray;
}

.blue {
	background-color: #cdffff;
}
.yellow {
	background-color: #ffff9a;
}
.green {
	background-color: #cdff9a;
}

.middle {
	vertical-align: middle;
}
.center {
	text-align: center;
}

.title {
	font-weight: bold;
	font-variant: small-caps;
	font-size: 14px;
}
.subtitle {
	font-weight: bold;
}

.value {
	font-style: italic;
}
.tooltip {
	font-style: normal;
	font-size: 9px;
}
.mapContainer {
	overflow: hidden;
	text-align: center;
}
.foto {
	max-width: 100%;
	max-height: 420px;
}

.space {
	padding: 0px 30px;
}
.hidden {
	display: none;
}
